



 <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a routerLink="/adminhome">GO BACK</a></li>
        </ul>
      </div>
    </nav>
    </div>



<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Add Product Master</h3>
      <br>

      <fieldset>
        <input placeholder="product Master name" type="text" class="form-control" >
      </fieldset>
      <fieldset>
        <input placeholder="Product Master Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Product Master Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Product Master Password" type="password" tabindex="3" required>
      </fieldset>
      <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a routerLink="/viewprofile">Submit</a></button>
      </fieldset>
    </form>
   
    
  </div>
